*{
    box-sizing: border-box;
    margin: 0px;
   padding: 0px;
   
   
}
nav{
    background-color: orange;
    text-align: center;
    width: 100%;
    height: 180px;
    float: left;
}
.img{
    float: left;
    padding: 2px;
    height: 159px;
    width: 267px;
    margin: 5px;
}
div{
    border: 100px 20px solid;
    width: 10px;
    height: 2px;
}
.a{
    margin: 50px;
    height: 20px;
    width: 10px;
}

   